@keyframes moveToRight {
  0%{
    opacity: 0;
    transform: translateX(10rem);
  }

  80%{
    transform: translateX(-1rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveToLeft {
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }

  80%{
    transform: translateX(1rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes navMoving {
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes navMoving2 {
  0%{
    opacity: 1;
    transform: translate(0);
  }

  100%{
    opacity: 0;
    transform: translateX(-10rem);
  }
}

@keyframes moveToTop {
  0%{
    opacity: 0;
    transform: translateY(3rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fade {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@keyframes gold {
  100%{
    background-position: 20rem 0;
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}




