.u-center{ text-align: center !important; }

.u-mb-big{
  margin-bottom: 8rem !important;

  @include respond(tab-port){
    margin-bottom: 2rem !important;
  }
}
.u-mb-medium{ margin-bottom: 4rem !important; }
.u-mb-small{ margin-bottom: 1.5rem !important; }

.u-mt-small{ margin-top: 1.5rem !important; }
.u-mt-medium{ margin-top: 4rem !important; }
.u-mt-big{ margin-top: 8rem !important; }
.u-mt-huge{
  margin-top: 10rem !important;

  @include respond(tab-port){
    margin-top: 6rem !important;
  }
}
