.btn {
  &,
  &:link,
  &:visited{
    font-size: $default-font-size;
    position: relative;
    display: inline-block;
    padding: 1.5rem 4rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10rem;
    transition: all .2s;
    z-index: 100;

    //CHANGE FOR THE <BUTTON> ELEMENT

    border: none;
    cursor: pointer;
  }

  &::after{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -1;
    transition: all .4s ;
  }

  &:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($black, 0.2);
    &::after{
      content: "";
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus{
    outline: none;
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($black, 0.2);
  }

  &--white{
    color: $color-grey-dark;
    background-color: $white;
    &::after{
      content: "";
      background-color: $white;
    }
  }

  &--animated{
    animation: moveToTop .5s ease-out .75s;
    animation-fill-mode: backwards;
  }

  &--green{
    color: $white;
    background-color: $color-primary;
    &::after{
      content: "";
      background-color: $color-primary;
    }
  }
}

.btn-text{
  &:link,
  &:visited{
    font-size: $default-font-size;
    display: inline-block;
    text-decoration: none;
    color: $color-primary;
    padding: .3rem;
    border-bottom: .1rem solid $color-primary;
    transition: all .2s;
  }

  &:hover{
    transform: translateY(-.2rem);
    background-color: $color-primary;
    color: $white;
    box-shadow: 0 1rem 2rem rgba($black, .15);
  }

  &:active{
    transform: translate(0);
    background-color: $color-primary;
    color: $white;
    box-shadow: 0 .5rem 1rem rgba($black, .15);
  }
}


