.story{
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($black, .1);
  background-color: rgba($white, .6);
  border-radius: .3rem;
  padding: 6rem 6rem 6rem 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port){
    width: 100%;
    padding: 3rem 3rem 3rem 6rem;
  }

  @include respond(phone){
    transform: skewX(0);
  }

  & > *{
    transform: skewX(12deg);
  }
  
  &__shape{
    position: relative;
    width: 15rem;
    height: 15rem;

    float: left;
    overflow: hidden;
    border-radius: 50%;

    transform: translateX(-3rem) skewX(12deg);

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);

      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      border-radius: 0;
    }

    @include respond(phone){
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img{
    height: 100%;
    transform: translateX(-3.5rem) scale(1.3);
    backface-visibility: hidden;
    transition: all .5s;


  }

  &__text{
    transform: skewX(12deg);

    @include respond(phone){
      transform: skewX(0);
    }
  }

  &__caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: $white;
    z-index: 15;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }

  &:hover &__caption{
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img{
    transform: translateX(-3.5rem) scale(1);
    filter: blur(.3rem) brightness(80%);

  }
}
