.row {
  max-width: $grid-width;
  margin: 0 auto;

  @include respond( tab-port ){
    max-width: 55rem;
    padding: 2rem 3rem;
  }

  &:not(:last-child){
    margin-bottom: $gutter-vertical;

    @include respond( tab-port ){
      margin-bottom: 4rem;
    }
  }

  @include clearfix;

  [class^="col-"]{
    float: left;

    &:not(:last-child){
      margin-right: $gutter-horizontal;

      @include respond( tab-port ){
        margin-right: 0;
        margin-bottom: 6rem;
      }
    }

    @include respond( tab-port ){
      width: 100% !important;
    }
  }

  .col-1-of-2{
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3{
    width: calc((100% - (#{$gutter-horizontal}) * 2) / 3);
  }

  .col-2-of-3{
    width: calc(((100% - (#{$gutter-horizontal}) * 2) / 3) * 2 + #{$gutter-horizontal});
  }

  .col-1-of-4{
    width: calc((100% - (#{$gutter-horizontal} * 3)) / 4);
  }

  .col-2-of-4{
    width: calc(((100% - #{$gutter-horizontal}) / 4) * 2);
  }

  .col-3-of-4{
    width: calc(((100% - (#{$gutter-horizontal} * 3)) / 4) * 3 + (#{$gutter-horizontal}) * 2);
  }
}

